doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title المجموعات
    body 
        include includes/navbar.pug
        .groups-title-wrapper
            .container
                h1.title المجموعات
        .groups-content
            .container
                .group-items
                    .group-item
                        h2.group-title Group A
                        table.group-table
                            thead
                                tr
                                    th Team
                                    th W
                                    th L
                                    th D
                                    th Pts
                            tbody
                                tr
                                    td team 1
                                    td 0
                                    td 0
                                    td 0
                                    td 0
                                tr
                                    td team 2
                                    td 0
                                    td 0
                                    td 0
                                    td 0
                                tr
                                    td team 3
                                    td 0
                                    td 0
                                    td 0
                                    td 0
                                tr
                                    td team 4
                                    td 0
                                    td 0
                                    td 0
                                    td 0
                    .group-item
                        h2.group-title Group B
                        table.group-table
                            thead
                                tr
                                    th Team
                                    th W
                                    th L
                                    th D
                                    th Pts
                            tbody
                                tr
                                    td team 1
                                    td 0
                                    td 0
                                    td 0
                                    td 0
                                tr
                                    td team 2
                                    td 0
                                    td 0
                                    td 0
                                    td 0
                                tr
                                    td team 3
                                    td 0
                                    td 0
                                    td 0
                                    td 0
                                tr
                                    td team 4
                                    td 0
                                    td 0
                                    td 0
                                    td 0
            script(src="js/navbar.js")