nav#main-navbar
  .container
    .logo
      a(href='index.html') خليجي 25
    .main-menu
      button.hamburger.close
      ul
        li
          a(href='index.html') الرئيسية
        li
          a(href='matches.html') المباريات
        li
          a(href='groups.html') المجموعات
        li
          a(href='news.html') آخر الاخبار
        li
          a(href='#') اتصل بنا
    button.hamburger.open